<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <img src= "/Formar/DH-Heroes/public/img/babbage.jpg" alt="Retrato de Charles Babbage">

    <p>Matemático británico. Se le considera el padre de las computadores digitales, pues en 1822 construyó un modelo de calculadora mecánica ( la máquina diferencial ), así llamada porque para realizar sus cálculos utilizaba la teoría matemática de las diferencias finitas.
        Más tarde ( 1823-1842 ) recibió apoyo del gobierno para construir otra más compleja, que operaría con 21 cifras decimales e incluía unas 25.000 piezas. Una pequeña porción de esta máquina ( unas 2.000 piezas ) quedó montada en 1832 y se convirtió en la primera calculadora mecánica. Pero el proyecto fracasó completamente y el gobierno británico le retiró su patrocinio. En 1847, trató de construir una segunda versión mejorada ( la máquina diferencial número 2 ), pero no pudo obtener apoyo. 
    </p>
    <p>La máquina ha sido construida en 1991 por Doron Swade, del Museo de la Ciencia de Londres, y su funcionamiento ha sido satisfactorio, lo que demuestra que el diseño de Babbage era correcto.
        En 1834, diseñó la máquina analítica, capaz de realizar toda clase de operaciones con una estructura semejante a la de las computadoras modernas, pero no llegó a construirse, quedando olvidada hasta que se publicaron las notas de Babbage en 1937. La máquina se habría programado por medio de tarjetas perforadas, según un procedimiento inventado por la condesa Ada Lovelace, a quien se considera la primera programadora de la historia.
        Además de estas actividades, Babbage fue profesor de matemáticas en la Universidad de Cambridge, contribuyó a la fundación de varias sociedades científicas importantes, a la organización del sistema postal británico, y a la aceptación en Gran Bretaña de la notación de Leibniz para el cálculo diferencial, en colaboración con John Herschel.
        Entre sus obras más destacables son: " Reflections on the decline of science in England " ( Reflexiones sobre la decadencia de la ciencia en Inglaterra ) y " On the economy of machinery and manufactures " ( La economía de máquinas y manufacturas ).
    </p>
        


</body>
</html>

<!--https://www.w3schools.com/tags/tag_img.asp
https://developer.mozilla.org/es/docs/Web/HTML/Element/picture
-->