<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
    <img src="/Formar/DH-Heroes/public/img/bernesslee.jpg" alt="Fotografía de Berners-Lee" width="50%" >
    <p>Berners-Lee fue el creador en 1989 de la World Wide Web (WWW), un proyecto global
    de hipertexto que permitiría por primera vez al mundo trabajar conjuntamente en la red.
    ... Ese programa inició el desarrollo del World Wide Web, que inventó a finales de 1990.
</p>
    <p>Berners-Lee redactó el HTLM (Lenguaje de etiquetado hipertexto) estableciendo enlaces con 
        otros documentos en una computadora y elaboró un esquema de direcciones que dio a cada
         página de la Red una localizacion única, o URL (localizador universal de recursos). 
         Luego estableció unas reglas llamadas HTTP (Protocolo de transferencia de hipertexto),
         para transmitir información a través de la Red. En 1991 dio a los usuarios de Internet 
         libre acceso a programas en el mundo entero. Los dos años siguientes perfeccionó el 
         diseño de la Red aprovechando las observaciones de los que empleaban Internet.</p>
</body>
</html>