<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="/Formar/DH-Heroes/public/img/hamilton.jpeg" alt="Hamilton" width="600">
    <p>Margaret Hamilton nació el 17 de agosto de 1937 en Paoli, Indiana, Estados Unidos.
        Comenzó sus estudios de matemáticas en la Universidad de Míchigan y posteriormente
        se trasladó al Earlham College, donde se licenció en Matemáticas (con diplomatura en
        Filosofía) en 1958. Incansable, su deseo era seguir estudiando, pero desgraciadamente,
        tuvo que dejar sus estudios para trabajar como profesora de matemáticas y francés en
        un instituto para que su marido pudiera acabar su carrera en Harvard. Posteriormente, 
        y siguiendo su sueño, se mudó a Boston para estudiar matemáticas abstractas en la Universidad Brandeis.</p>
<p>La vida de Hamilton empezó a cambiar en 1960, cuando entró a trabajar en el Departamento de Meteorología del
    Instituto Tecnológico de Massachusetts (MIT), bajo las órdenes del profesor Edward Norton Lorenz. Gracias a sus
    conocimientos en matemática, a las lecciones del profesor y el gran esfuerzo que realizó para aprender varios 
    lenguajes de programación por sí misma, fue una de las encargadas en diseñar el software que permitía predecir el tiempo utilizando los ordenadores LGP-30 y PDP-1.</p>
<p>El gran éxito de esta misión militar permitió que Hamilton se pudiera unir al Laboratorio Charles Stark Draper del MIT. 
En aquel momento, esta unidad estaba trabajando en lo que definitivamente cambiaría la vida de Margaret: el Programa Apolo. 
Con unos conocimientos en programación extraordinarios, Margaret pronto destacó. Fue la encargada, junto con su equipo, 
de diseñar parte del software que hacía funcionar el Módulo de Mando y el Módulo Lunar, y probablemente, la persona que evitó el fracaso de la misión.</p>
</body>
</html>