<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Hooper</h1>
    <img src="/Formar/DH-Heroes/public/img/hopper.jpg" alt= "Imagen de Hooper" width="600">
    <p>Conocida como Amazing Grace, Grace Hopper (Nueva York, 1906 -Virginia, 1992) está considerada, entre otros méritos, como la precursora del lenguaje COBOL (Common Business-Oriented Language).
    Un lenguaje de programación universal, e inédito en la época, capaz de ser usado por cualquier ordenador y que se ha utilizado principalmente en los negocios.
    Pero antes de convertirse en la ‘asombrosa Grace’, Hopper demostró desde la infancia sentir una fuerte atracción por las matemáticas y la ciencia. Descendiente 
    de militares, su abuelo -al que ella tenía como modelo a seguir, fue almirante de la Armada de Estados Unidos-, y su padre apoyaron sus estudios para que tuviera
    las mismas oportunidades que su hermano.</p>
    <p>Se le atribuye haberle dado nombre a los bugs de computadores, aunque en sus biografías siempre puntualizaba que no fue ella la que encontró al “bichito”. Según cuenta la historia,
        en agosto de 1947, mientras estaba trabajando con algunos colegas en el Mark I en Harvard, un circuito comenzó a funcionar mal. Usando una pinza, un investigador detectó el problema:
         una polilla. Hopper anotó al bicho en su libro de registros, indicando que "desde entonces, cada vez que algo salía mal con un computador, decíamos que tenía bugs (bichos) dentro".</p>

    <p>Estaba convencida de que los ordenadores podían llegar a un público mucho más amplio si se creaban procedimientos más fáciles para poder programar. Sabía que para implantar los ordenadores 
        en esferas no científicas, como el sector comercial, se debían afinar los lenguajes para hacerlos comprensibles por los no matemáticos. Su convicción de que los programas informáticos podían 
        ser escritos en inglés suscitaba continuamente la respuesta: “Los ordenadores no comprenden el inglés”.</p>
    <p>En 1949, contra todo pronóstico, desarrolló una técnica que traducía los símbolos matemáticos a un código de instrucción binario y comprensible por la
         máquina (A-O). Tres años más tarde, ante una atónita comunidad informática presentó un programa de compilación (B-O) que traducía las instrucciones en inglés en un lenguaje de programación. El compilador al que se le denominó Flow-Matic
         fue concebido para el tratamiento de tareas típicas de la empresa tales como la facturación y los pagos. Lo que provocó la apertura del ordenador al mundo de la empresa.</p>
    <p>Y aquí llegamos al comienzo de nuestra historia, cuando Grace Hopper con su Flow-Matic inspiró la creación del primer lenguaje de programación orientado a la empresa (COBOL). Grace persuadió los 
        dirigentes de empresas y la Marina norteamericana para utilizar COBOL como lenguaje estándar.</p>
</body>
</html>