<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
    <h1>Héroes</h1>
    <a href="/Formar/DH-Heroes/babbage.html"> Babbage</a>
    <a href="/Formar/DH-Heroes/berners-lee.html"> Berners-lee</a>
    <a href="/Formar/DH-Heroes/clarke.html"> Clarke</a>
    <a href="/Formar/DH-Heroes/hamilton.html"> Hamilton</a>
    <a href="/Formar/DH-Heroes/hopper.html"> Hopper</a>
    <a href="/Formar/DH-Heroes/lovelace.html"> Lovelace</a>
    <a href="/Formar/DH-Heroes/lovelace.html"> Turing</a>

</body>
</html>

<!--<a href="https://wa.me/+543772522756">whatsapp</a>-->
<!--<a href="mailto:ibarrolajonathane@gmail.com">Envianos un correo</a><br>-->
