<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <img src="/Formar/DH-Heroes/public/img/turing.jpg">
    <p>Alan Turing fue un brillante matemático, criptoanalista e informático teórico
     nacido el veintitrés de Junio de 1912 en Maida Vale un distrito residencial al oeste
    de Londres. ... Formalizó los conceptos de algoritmo y computación con su máquina de 
    Turing. Es considerado el padre de la inteligencia artificial
    </p>
    <p>
        Turing es mundialmente conocido por cuatro hechos:
        - Formalizó los conceptos de algoritmo y computación con su máquina de Turing
        - Es considerado el padre de la inteligencia artificial
        - Su participación en el equipo de criptoanálisis de la máquina de criptografía alemana Enigma fue clave
        - Fue una víctima más de la mentalidad reaccionaria puritana del mundo anglosajon
        El Gobierno Británico hizo una disculpa pública a título póstumo a través de Gordon Brown el diez de Septiembre del 2009
        por haber procesado y perseguido a Alan Turing por ser homosexual. Es cuanto menos paradójico que Turing fuera procesado 
        y perseguido a causa de su homosexualidad por un Gobierno que calificaba de monstruosos los actos del nazismo por procesar
        y perseguir a individuos por su credo religioso.
    </p>
</body>
</html>